<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="GooseBean"
          class="ru.kharina.study.hunter.Goose">
    </bean>
    <bean id="GoatBean"
          class="ru.kharina.study.hunter.Goat">
    </bean>
    <bean id="FrogBean"
          class="ru.kharina.study.hunter.Frog">
    </bean>
    <bean id="hunterBean"
          class="ru.kharina.study.hunter.Hunter">
        <property name="animalList">
            <list>
                <ref bean="FrogBean"/>
                <ref bean="GooseBean"/>
                <ref bean="GoatBean"/>
            </list>
        </property>
    </bean>
</beans>